@font-face {
	font-family: 'LiDeBiao-Xing311592cc3f01c784';
	src: url('//cdn.webfont.youziku.com/webfonts/nomal/116612/45803/5acdd3d6f629d8097cd7c273.gif?r=71832150125');
	src: url('//cdn.webfont.youziku.com/webfonts/nomal/116612/45803/5acdd3d6f629d8097cd7c273.gif?r=71832150125?#iefix') format('embedded-opentype'), url('//cdn.webfont.youziku.com/webfonts/nomal/116612/45803/5acdd3d6f629d8097cd7c273.png?r=71832150125') format('woff2'), url('//cdn.webfont.youziku.com/webfonts/nomal/116612/45803/5acdd3d6f629d8097cd7c273.bmp?r=71832150125') format('woff'), url('//cdn.webfont.youziku.com/webfonts/nomal/116612/45803/5acdd3d6f629d8097cd7c273.jpg?r=71832150125') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.css11592cc3f01c784 {
	font-family: 'LiDeBiao-Xing311592cc3f01c784';
}

@font-face {
	font-family: 'lixukexingshu11599accd21c784';
	src: url('//cdn.webfont.youziku.com/webfonts/nomal/116612/45807/5acdf001f629d8097cd7c29b.gif?r=71839361375');
	src: url('//cdn.webfont.youziku.com/webfonts/nomal/116612/45807/5acdf001f629d8097cd7c29b.gif?r=71839361375?#iefix') format('embedded-opentype'), url('//cdn.webfont.youziku.com/webfonts/nomal/116612/45807/5acdf001f629d8097cd7c29b.png?r=71839361375') format('woff2'), url('//cdn.webfont.youziku.com/webfonts/nomal/116612/45807/5acdf001f629d8097cd7c29b.bmp?r=71839361375') format('woff'), url('//cdn.webfont.youziku.com/webfonts/nomal/116612/45807/5acdf001f629d8097cd7c29b.jpg?r=71839361375') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.css11599accd21c784 {
	font-family: 'lixukexingshu11599accd21c784';
}

@font-face {
	font-family: 'zhimang-xing11599f8ac01c784';
	src: url('//cdn.webfont.youziku.com/webfonts/nomal/116612/129/5acdf138f629d8097cd7c29d.gif?r=71839672094');
	src: url('//cdn.webfont.youziku.com/webfonts/nomal/116612/129/5acdf138f629d8097cd7c29d.gif?r=71839672094?#iefix') format('embedded-opentype'), url('//cdn.webfont.youziku.com/webfonts/nomal/116612/129/5acdf138f629d8097cd7c29d.png?r=71839672094') format('woff2'), url('//cdn.webfont.youziku.com/webfonts/nomal/116612/129/5acdf138f629d8097cd7c29d.bmp?r=71839672094') format('woff'), url('//cdn.webfont.youziku.com/webfonts/nomal/116612/129/5acdf138f629d8097cd7c29d.jpg?r=71839672094') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.css11599f8ac01c784 {
	font-family: 'zhimang-xing11599f8ac01c784';
}